.header_wrapper {
  @media (max-width: 992px) {
    display: none;
  }
  padding: 10px 0;
  position: absolute;
  background: transparent;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  // backdrop-filter: blur(5/00px);
  width: 100%;
  z-index: 100;
  top: 0;
  transition: 0.4s ease;
  select {
    background-color: transparent;
    border-radius: 0 !important;
    border: none;
  }
}
.scrolled {
  background-color: #232323;
  position: fixed;
  top: 0;
  select {
    border: none;
  }
  .hidden_links_one {
    background-color: #232323 !important;
  }
}
.header {
  display: flex;
  // align-items: center;
  position: fixed;
  .left_wrapper {
    display: flex;
    align-items: center;
    img {
      width: 70px !important;
    }
    h2 {
      margin-left: 10px;
      letter-spacing: 2px;
      margin-bottom: 0;
    }
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }
  }
  .right_wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .main_header_ul {
      display: flex;
      width: 100%;
      position: relative;
      li {
        list-style-type: none;
        margin-right: 30px;
        position: relative;
        padding: 30px 0;
        &:hover {
          .hidden_links_one {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      .div_called_li {
        list-style-type: none;
        margin-right: 30px;
        position: relative;
        padding: 30px 0;
        &:hover {
          .hidden_links_one {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    .hidden_links_one {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      display: block;
      width: 100%;
      top: 70px;
      background-color: transparent;
      backdrop-filter: blur(10px);
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
      li {
        width: 100%;
        transition: 0.2s ease;
        padding: 8px 10px;
        a {
          transition: 0.2s ease;
        }
        &:hover {
          background-color: #fff;
          color: #232323;
          a {
            padding-left: 5px;
          }
        }
      }
      li {
        &:nth-child(1) {
          padding-left: 8px 10px;
          &:hover {
            padding-left: 5px;
          }
        }
      }
    }
    .extra_links_menu {
      width: 200%;
    }
  }
}
