.About {
  .main_back {
    background: url("../public/images/about_back.png");
  }
  .about_company {
    background-color: #333333;
    padding: 60px 0;
  }
  .values {
    .Advantages {
      background-color: #333333;
      .wrapper {
        @media (max-width: 992px) {
          display: block;
        }
        display: grid;
        grid-template-columns: 33% 33% 33%;
        padding: 50px 0;
        .mycol {
          display: flex;
          justify-content: space-around;
          padding: 30px;
          background: #232323;
          border: 1px solid transparent;
          margin: 15px 0;
          &:hover {
            background-color: transparent;
            border: 1px solid #232323;
            cursor: pointer;
            img {
              transform: scale(1.2, 1.2);
            }
          }
          h3 {
            margin: 10px 0;
            color: #46689c;
          }
          img {
            width: 100px;
            transition: 0.3s ease;
          }
          &:nth-child(2) {
            width: 95%;
            margin: 15px auto;
          }
          .myrow {
            text-align: center;
          }
        }
        .mycol:nth-child(5) {
          width: 95%;
          margin: 15px auto;
        }
      }
    }
  }
  .boss {
    margin-top: 50px;
    padding: 0;
    .wrapper {
      @media (max-width: 992px) {
        display: block;
        position: initial;
        max-width: 100%;
        img {
          position: initial !important;
          margin: 10px 0 !important;
          width: 100% !important;
        }
        .right_box {
          margin-left: 0 !important;
          padding: 15px !important;
        }
      }
      display: grid;
      grid-template-columns: 40% 60%;
      max-width: 80%;
      margin: 10px auto;
      position: relative;
      .left_box {
        img {
          z-index: 1;
          width: 400px;
          height: 450px;
          position: absolute;
          top: 30px;
        }
      }
      .right_box {
        padding: 50px;
        background-color: #232323;
        z-index: 2;
        margin-left: -50px;
        h1 {
          font-size: 30px;
          line-height: 170%;
          display: flex;
          align-items: center;
          color: #ffffff;
        }
        .title {
          font-size: 20px;
          line-height: 170%;
          color: #46689c;
          margin: 10px 0;
          position: relative;
          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #333333;
          }
          &::before {
            content: "";
            width: 220px;
            height: 2px;
            display: block;
            background-color: #46689c;
            position: absolute;
            bottom: 0;
          }
        }
        .about_boss {
          font-weight: 400;
          font-size: 18px;
          line-height: 170%;
          /* or 31px */

          display: flex;
          align-items: center;

          color: #ffffff;
        }
      }
    }
  }
}
.TeamBack {
  .main_back {
    background: url("../public/images/team_back.png");
  }
  .main_content {
    background-color: #333333;
    padding: 50px 0;
    .members {
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
    }
  }
}
.ant-modal-body {
  h5 {
    padding-top: 5px;
  }
  .this_director {
    img {
      width: 100%;
    }
  }
}
