.All4uMarket {
  .main_back {
    background: url("../public/images/all4u_back.png");
    background-position: center center;
    background-size: cover;
  }
  .results_numbers {
    padding-bottom: 50px;
    .num_wrapper {
      max-width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .mycol {
        background-color: #242424;
        padding: 10px 20px;
        width: 300px;
        height: 130px;
        display: flex;
        align-items: center;
        .inner_wrap {
          width: 100%;
          text-align: center;
          span {
            border-bottom: 1px solid #333;
            padding-bottom: 5px;
            font-size: 35px;
            display: block;
          }
          p {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .offers {
    .wrapper_offers {
      .mycol {
        display: flex;
        margin: 20px 0;
        .correct_icon {
          width: 50px;
          img {
            width: 40px;
          }
        }
        .content {
          margin-left: 20px;
          p {
            margin: 10px 0;
            font-size: 18px;
          }
          ul {
            margin-left: 20px;
            li {
              padding: 8px 0;
            }
          }
        }
      }
    }
  }
  .all4u_services {
    .wrapper {
      @media (max-width: 768px) {
        display: block;
        h3 {
          max-width: 100% !important;
        }
      }
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
      .mycol {
        margin: 0 5px;
        transition: 0.25s ease;
        overflow: hidden;
        &:hover {
          transform: translateY(-10px);
        }
        .inner_wrap {
          overflow: hidden;
          padding: 10px;
          background-color: #242424;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            overflow: hidden;
            width: 100%;
            height: 100px;
            object-fit: contain;
          }
        }
        h3 {
          text-align: center;
          max-width: 60%;
          margin: 10px auto;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
  .link_all4u {
    .wrapper {
      text-align: center;
    }
    .border_g {
      display: initial;
    }
  }
}
