.Consalting {
  .main_back {
    background: url("../public/images//consalting_back-min.png");
    background-position: left;
    .heading {
      p {
        max-width: 65%;
        font-size: 17px;
        margin: 0 auto;
      }
    }
  }
  .about_facts {
    padding-bottom: 50px;
    .grid-5 {
      div {
        height: 200px;
        background-color: #242424;
      }
      p {
        padding: 30px;
        font-size: 17px;
        line-height: 170%;
        display: flex;
        align-items: center;
        color: #ffffff;
      }
    }
  }
  .ads_services {
    .wrapper_ads {
      @media (max-width: 992px) {
        display: block;
        .for_img {
          padding: 50px !important;
          padding-top: 20px !important;
        }
        .right_box {
          margin-left: 0 !important;
          margin-top: 15px;
        }
      }
      max-width: 100%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 35% 65%;
      align-items: center;
      padding-bottom: 50px;
      .left_box {
        height: 300px;
        overflow: hidden;
        .for_img {
          background-color: #242424;
          text-align: center;
          padding: 100px;
          padding-top: 20px;
          img {
            width: 100%;
            text-align: center;
            object-fit: contain;
          }
        }
      }
      .right_box {
        margin-left: 40px;
        p {
          font-size: 20px;
          line-height: 170%;
          /* or 34px */

          color: #ffffff;
        }
      }
    }
    .wrapper_ads_reverse {
      @media (max-width: 992px) {
        display: block;
        .for_img {
          padding: 50px !important;
          padding-top: 20px !important;
        }
        .left_box {
          margin-right: 0 !important;
          margin-bottom: 15px;
          text-align: left;
          p {
            text-align: left !important;
          }
        }
      }
      display: grid;
      grid-template-columns: 65% 35%;
      align-items: center;
      max-width: 100%;
      margin: 0 auto;
      padding-bottom: 50px;
      text-align: right;
      .right_box {
        height: 300px;
        overflow: hidden;
        .for_img {
          background-color: #242424;
          text-align: center;
          padding: 100px;
          padding-top: 20px;
          img {
            width: 100%;
            text-align: center;
            object-fit: contain;
          }
        }
      }
      .left_box {
        margin-right: 40px;
        p {
          font-size: 20px;
          line-height: 170%;
          /* or 34px */
          text-align: right;
          color: #ffffff;
        }
      }
    }
    .wrapper_ads {
      .custom {
        .for_img {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 380px;
        }
        img {
          padding-top: 50px;
          width: 90%;
        }
      }
    }
  }
}
