.Contacts {
  .main_back {
    background: url("../public/images/c_back.png");
    .heading {
      p {
        max-width: 70%;
        margin: 20px auto;
      }
    }
  }
  .contacs_p {
    margin-top: 50px;
    span {
      @media (max-width: 768px) {
        font-size: 12px;
      }
      padding: 0 20px;
      font-size: 25px;
    }
  }
}
