.Contacts {
  .main_back {
    background: url("../public/images/new_back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    @media (max-width: 768px) {
      .heading {
        max-width: 100% !important;
      }
    }
    .wrapper .heading {
      p {
        max-width: 70%;
        margin: 20px auto;
      }
    }
    .with_anime {
      display: block;
    }
  }
  .contacs_p {
    @media (max-width: 496px) {
      display: grid;
    }
    margin-top: 50px;
    span {
      @media (max-width: 768px) {
        font-size: 12px;
      }
      padding: 0 20px;
      font-size: 17px;
      color: #5e9cfa;
    }
  }
}
