.mycol_member {
  padding: 40px 0;
  text-align: center;
  .about {
    padding-left: 15px;
    h3 {
      padding: 10px 0;
      font-weight: 800;
      color: #293350;
      width: 100%;
    }
    button {
      background: transparent;
      border: none;
      color: #cd9827;
      &:focus {
        outline: 0;
      }
    }
  }
  img {
    max-width: 50%;
    margin: 0 auto;
    object-fit: contain;
    text-align: center;
  }
}
