.Produce {
  .main_back {
    background: url("../public/images/produce_back-min.png");
  }
  .about_diagnokim {
    .content_wrapper {
      @media (max-width: 992px) {
        display: block;
        img {
          width: 100% !important;
        }
      }
      display: grid;
      grid-template-columns: 50% 50%;
      .left_box {
        margin-right: 40px;
        p {
          font-size: 18px;
          line-height: 170%;
          color: #ffffff;
          padding-bottom: 40px;
        }
      }
    }
  }
  .link_catalog {
    text-align: center;
    a {
      @media (max-width: 768px) {
        max-width: 50% !important;
      }
      display: block;
      margin: 0 auto;
      max-width: 30%;
    }
  }
}
